.bg{
    background: #150050;
    font-family: 'Ubuntu Mono', monospace;
}
label{
    color: #ffffff;
}
.brand{
    color: #ffffff;
    font-size: 50px;
}
.card{
    background: #610094!important;
    color: #ffffff;
}