.bg{
    background: #1F1D36;
    font-family: 'Ubuntu Mono', monospace;
}
label{
    color: #ffffff;
}
.brand{
    color: #ffffff;
    font-size: 50px;
}
.card{
    background: #3F3351!important;
    color: #ffffff;
}