.bg{
    background: #9AD0EC;
    font-family: 'Ubuntu Mono', monospace;
}
label{
    color: #ffffff;
}
.brand{
    color: #ffffff;
    font-size: 50px;
}
.card{
    background: #1572A1!important;
    color: #ffffff;
}